/**
 * 导航栏
 */
.hb_nav {
    color: white;
    background-color: black;
}

/**
 * 按钮
 */
.hb_btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.hb_btn:hover {
    opacity: .9;
    color: #fff;
}

.hb_btn_success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.hb_btn_warning {
    color: #fff;
    background-color: #FFB800;
    border-color: #ffc107;
}

.hb_btn_danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}