<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工作台</title>
    <script type="text/javascript" src="../js/common.js"></script>
</head>
<style>

</style>
<body>
<div class="hb_row">
    <div class="hb_nav">
        <button class="hb_btn ">注销按钮</button>&nbsp;&nbsp;&nbsp;
        <button class="hb_btn hb_btn_success">注销按钮</button>&nbsp;&nbsp;&nbsp;
        <button class="hb_btn hb_btn_warning">注销按钮</button>&nbsp;&nbsp;&nbsp;
        <button class="hb_btn hb_btn_danger">注销按钮</button>&nbsp;&nbsp;&nbsp;
        <div class="hb_col_3">3</div>
        <div class="hb_col_2">2</div>
    </div>
</div>
<div class="hb_row">
    <div class="hb_col_1">1</div>
    <div class="hb_col_3">3</div>
    <div class="hb_col_2">2</div>
</div>
<div class="hb_row">
    下面
</div>

<script>

</script>
</body>
</html>