body {
    margin: 0 auto;
}

/**
 * 行
 */
.hb_row {
    width: 100%;
    clear: both;
}

/**
 * 列
 */
.hb_col_1, .hb_col_2, .hb_col_3, .hb_col_4, .hb_col_5, .hb_col_6, .hb_col_7, .hb_col_8, .hb_col_9, .hb_col_10 {
    float: left;
}

.hb_col_1 {
    width: 10%;
}

.hb_col_2 {
    width: 20%;
}

.hb_col_3 {
    width: 30%;
}

.hb_col_4 {
    width: 40%;
}

.hb_col_5 {
    width: 50%;
}

.hb_col_6 {
    width: 60%;
}

.hb_col_7 {
    width: 70%;
}

.hb_col_8 {
    width: 80%;
}

.hb_col_9 {
    width: 90%;
}

.hb_col_10 {
    width: 100%;
}

/**
 * 导航栏
 */
.hb_nav {
    height: 60px;
    width: 100%;
    /* 垂直居中 */
    display: flex;
    align-items: center;
}

/**
 * 按钮
 */
.hb_btn {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .1rem;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
